<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExeCRUDWinForm.Properties.Settings.minimarketConnectionString"
            connectionString="Data Source=DESKTOP-CRFOF2E;Initial Catalog=minimarket;Persist Security Info=True;User ID=sa;Password=Zandev"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>